*{
    margin: 0;
    padding: 0;
}
body{
    color: #FC4308;
    font-family: 'Montserrat', sans-serif;
}
.container{
    padding: 0 120px;
}
/* Header */
.header-container{
    background: url(.png), linear-gradient(233.95deg, #0D1E20 -73.12%, #313E2A 53.36%, #262D20 103.17%), #FFFFFF;
    background-blend-mode: multiply, multiply, normal;
    background-size: cover;
    padding-top: 24px;
}
.header{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.header-logo, .header-nav{
    display: flex;
    align-items: center;
}
.header-logo p{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 100%;
    margin-left: 10px;
}
.header-nav ul{
    display: flex;
}
.header-nav ul a{
    color: #FC4308;
    text-decoration: none;
}
.header-nav ul li{
    margin-left: 28px;
    list-style: none;
}
.header-nav ul li a{
    padding: 10px 16px;
    border: 1px solid #FC4308;
    border-radius: 3px;
}
/* Hero Header */
.hero-header{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}
.hero-header-txt{
    width: 45%;
    margin: auto 0;
}
.hero-header-txt h1{
    font-weight: 500;
    font-size: 6.25rem;
    line-height: 105%;
    margin-bottom: 24px;
}
.hero-header-txt div{
    width: 60%;
    margin-bottom: 24px;
}
.hero-header-img{
    margin-left: 24px;
    margin-bottom: 80px;
}
/* Our Works */
.our-works-container{
    background: #0E1513;
    padding-top: 80px;
    padding-bottom: 80px;
}
.our-works-title{
    max-width: 1440px;
    margin: 0 auto;
}
.our-works-title h2{
    font-weight: 500;
    font-size: 3.75rem;
    line-height: 100%;
    margin-bottom: 60px;
}
.our-works{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 60px;
}
.our-works div{
    width: 100%;
}
.our-works img{
    margin-bottom: 20px;
}
.our-works p{
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 150%;
}
.our-works h6{
    font-weight: 500;
    font-size: 1rem;
    line-height: 105%;
}
.our-works-button{
    max-width: 93%;
}
.our-works-button a{
    color: #FC4308;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    text-decoration: none;
    border: 1px solid #FC4308;
    border-radius: 3px;
    padding: 10px 16px;
    float: right;
}
/* Partfolio */
.partfolio-container{
    background: linear-gradient(90deg, #323E2A 0%, #101815 100%);
    padding-top: 80px;
    padding-bottom: 80px;
}
/* Standart Partfolio Example */
.partfolio-example{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.partfolio-example:nth-child(2n){
    flex-direction: row-reverse;
}
.partfolio-example-txt{
    width: 35%;
    margin: auto 0;
}
.partfolio-example-txt h3{
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 150%;
    margin-bottom: 16px;
}
.partfolio-example-txt h2{
    font-weight: 500;
    font-size: 3rem;
    line-height: 105%;
    margin-bottom: 24px;
}
.partfolio-example-txt p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    margin-bottom: 40px;
}
.partfolio-example-txt a{
    color: #FC4308;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    text-decoration: none;
    border: 1px solid #FC4308;
    border-radius: 3px;
    padding: 10px 16px;
}
/* Not Standart Partfolio Example */
.partfolio-example-last{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
}
.partfolio-example-last h3{
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 150%;
    margin-bottom: 24px;
}
.partfolio-example-last h2{
    font-weight: 500;
    font-size: 3rem;
    line-height: 120%;
    margin-bottom: 60px;
}
.partfolio-example-last img{
    margin-bottom: 48px;
}
.partfolio-example-last a{
    color: #FC4308;
    text-decoration: none;
    border: 1px solid #FC4308;
    border-radius: 3px;
    padding: 10px 16px;
}
/* Footer */
.footer-container{
    background: #0E1513;
    padding-top: 120px;
    padding-bottom: 40px;
}
/* Hero Footer */
.hero-footer{
    width: 50%;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.hero-footer h1{
    font-weight: 500;
    font-size: 6.25rem;
    line-height: 105%;
    margin-bottom: 24px;
}
.hero-footer p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 48px;
}
.hero-footer a{
    color: #FC4308;
    text-decoration: none;
    border: 1px solid #FC4308;
    border-radius: 3px;
    padding: 10px 16px;
}
/* Standart Footer */
.high-footer{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.footer-logo{
    display: flex;
    align-items: center;
}
.footer-logo p{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 100%;
    margin-left: 10px;
}
.footer-nav ul{
    display: flex;
}
.footer-nav ul a{
    color: #FC4308;
    text-decoration: none;
}
.footer-nav ul li{
    margin-left: 28px;
    list-style: none;
}

.footer hr{
    color: #FC4308;
    margin-bottom: 34px;
}
.low-footer{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
}
.low-footer-title p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
}
.low-footer-src img{
    margin-left: 12px;
}
/* Adaptive */
@media(max-width: 1200px){
    .hero-header-txt h1{
        font-weight: 500;
        font-size: 4.3rem;
        line-height: 105%;
    }
    .hero-header-txt div{
        width: 100%;
    }
    .our-works img{
        width: 95%;
    }
    .our-works-button{
        max-width: 99%;
    }
    .hero-footer h1{
        font-weight: 500;
        font-size: 4.3rem;
        line-height: 105%;
    }
}
@media(max-width: 992px){
    .hero-header-txt {
        width: 60%;
    }
    .hero-header-txt h1{
        font-weight: 500;
        font-size: 3rem;
        line-height: 105%;
    }
    .hero-header-txt div{
        width: 100%;
    }
    .hero-header-img img{
        width: 100%;
    }
    .our-works img{
        width: 95%;
    }
    .partfolio-example-txt{
        width: 55%;
    }
    .partfolio-example-img{
        width: 40%;
    }
    .partfolio-example-img img{
        width: 100%;
    }
    .hero-footer h1{
        font-weight: 500;
        font-size: 3rem;
        line-height: 105%;
    }
}
@media(max-width: 768px){
    .container{
        padding-left: 60px;
        padding-right: 60px;
    }
    .hero-header{
        flex-direction: column;
    }
    .hero-header div{
        width: 100%;
    }
    .hero-header-img img{
        width: 100%;
    }
    .hero-footer{
        width: 100%;
    }
}
@media(max-width: 567px){
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
    .header{
        flex-direction: column;
    }
    .header-logo{
        margin: 0 auto;
        margin-bottom: 16px;
    }
    .header-nav{
        width: 100%;
    }
    .header-nav ul{
        width: 100%;
        justify-content: space-between;
    }
    .header-nav ul li{
        margin-left: 0;
    }
    .our-works{
        flex-direction: column;
        text-align: center;
    }
    .our-works img{
        width: 60%;
        margin-bottom: 0;
    }
    .our-works h6{
        margin-bottom: 24px;
    }
    .our-works-button{
        width: 100%;
        text-align: center;
    }
    .our-works-button a{
        float: none;
    }
    .partfolio-example{
        flex-direction: column-reverse;
    }
    .partfolio-example:nth-child(2n){
        flex-direction: column-reverse;
    }
    .partfolio-example div{
        width: 100%;
    }
    .partfolio-example-img{
        margin-bottom: 24px;
    }
    .partfolio-example-last{
        width: 100%;
    }
    .partfolio-example-last img{
        width: 100%;
    }
    .hero-footer h1{
        font-weight: 500;
        font-size: 2.3rem;
        line-height: 105%;
    }
    .footer-logo p {
        font-weight: 500;
        font-size: 1rem;
        line-height: 100%;
        margin-left: 5px;
    }
    .footer-nav ul li {
        margin-left: 15px;
    }
}
@media(max-width: 390px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-nav ul li{
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 1.25rem;
    }
    .hero-header-img img{
        width: 90%;
    }
    .hero-footer{
        margin-bottom: 60px;
    }
    .high-footer{
        display: none;
    }
    .footer hr{
        display: none;
    }
    .low-footer{
        flex-direction: column-reverse;
        text-align: center;
    }
    .low-footer-src{
        margin-bottom: 24px;
    }
}